
<div class="container">
    <ul class="nav nav-pills">
        <li>
          <button class="btn btn-success" (click)="onMult()">X * Y</button>
        </li>
        <li>
            <button class="btn btn-success" (click)="onTranspose()">Transpose X </button>
        </li>
        <li>
            <button class="btn btn-success" (click)="onSignoide()">Signoide </button>
        </li>
        <li>
            <button class="btn btn-success" (click)="onRelu()">Relu X </button>
        </li>
     </ul>
 <div class="row">
   <div *ngFor="let t of tensors | keyvalue">
   <div class="col-md-3">
   <div class="panel panel-primary">
     <div class="panel-heading">Tensor :{{t.key}}</div>
       <div class="panel-body">
          <table class="table">
              <tr *ngFor="let line of t.value.arraySync()">
                  <td *ngFor="let v of line">{{v}}</td>
              </tr>
          </table>
       </div>
      </div>
     </div>
    </div>


 </div>
</div>
<div class="container">
  <p></p>
  <ul class="nav nav-pills">
    <li>
      <button class="btn btn-success" (click)="onCreateModel()">Create Model</button>
    </li>

  </ul>
  <div class="panel panel-primary">
    <div class="panel-heading">Model</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/model.jpg" *ngIf="modelCreated">
        </div>

      </div>
    </div>
  </div>

</div>